<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Private Events</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="mr-3"><%= link_to 'Home', events_index_path %></li>
        <li class="mr-3"><%= link_to 'Create Event', events_new_path %></li>
        <li class="mr-3"><%= link_to 'Log out', logout_path, method: :delete %></li>
        <li class="badge badge-secondary"><%= current_user.first_name %></li>
      <% else %>
        <li class="mr-3"><%= link_to 'Log in', login_path %></li>
        <li><%= link_to 'Sign Up', users_new_path %></li>
      <% end %>
    </ul>
  </div>
</nav>